{{dump(cruises)}}


{% for cruise in cruises %}
	
<div class="block cruise-row">
	<div>
		<div class="cruise-days-cont">
			<div class="cruise-days">
				{{cruise.days}}  {{cruise.days | numeral('день','дня','дней') }}
			</div>
		</div>
		<div class="cruise-options-cont expanded">
			<div class="cruise-options-switch expanded"></div>
			<div class="cruise-options expanded">
		
			{% for ts in cruise.ts %}
				<div class="cruise-option ">
					{{ts.name}}
				</div>
			{% endfor %}	
			</div>
		</div>
	</div>
	<div class="cruise-table">
		<div class="descr-block">
			<div class="cruise-header">
				<a href="{{ path('cruise_detail',{'id':cruise.id}) }}">{{ cruise.name }}</a>
			</div>
			<div class="cities">
				{% for port in cruise.portsPlus %}
					{% if loop.first %} + {% endif %}{{port | ports}}{% if not loop.last %}, {% endif %}
				{% endfor %}
			</div>
		</div>
<div class="cruise-date">{{cruise.dateStart | localizeddate('full', 'none', null, null, 'dd') }}<span>{{cruise.dateStart | localizeddate('full', 'none', null, null, 'eee') }}<br />{{cruise.dateStart | localizeddate('full', 'none', null, null, 'MMM') }}</span> – {{cruise.dateStop | localizeddate('full', 'none', null, null, 'dd') }}<span>{{cruise.dateStop | localizeddate('full', 'none', null, null, 'eee') }}<br />{{cruise.dateStop | localizeddate('full', 'none', null, null, 'MMM') }}</span>
<span style="text-align:center;">{{cruise.dateStart | date('Y')}}</span>

							</div>
		<div class="ship-block">
			<div class="criuse-ship-header">
				<a href="#">{{ cruise.motorship.name }}</a>
			</div>
			<div class="criuse-ship-places">
				<span class="places-number">{{cruise.freeCountRoom}}</span>  {{cruise.freeCountRoom | numeral('свободное место','свободных места','свободных мест') }}
			</div>
		</div>
		<div class="price">
			{{cruise.priceMin | number_format(0, ' ', ' ')}} <span>руб.</span>
		</div>
	</div>
</div>
{% endfor %}