{% extends 'base.html.twig' %}

{% block callback %}
<div id="callback-form">
	<div class="cbf-container">
		<h2>ЗАКАЗ КРУИЗА</h2>
		<div class="closeform"><i class="icon icon-cancel"></i></div>
		<form class="formcontact">
			<h4>{{cruise.name}}</h4>
			<div class="cruise-days">{{cruise.days}} {{cruise.days | numeral('день','дня','дней') }}</div>
			<div class="dates">{{cruise.dateStart | localizeddate('full', 'none', null, null, 'dd') }}<span>{{cruise.dateStart | localizeddate('full', 'none', null, null, 'eee') }}<br />{{cruise.dateStart | localizeddate('full', 'none', null, null, 'MMM') }}</span> – {{cruise.dateStop | localizeddate('full', 'none', null, null, 'dd') }}<span>{{cruise.dateStop | localizeddate('full', 'none', null, null, 'eee') }}<br />{{cruise.dateStop | localizeddate('full', 'none', null, null, 'MMM') }}</span></div>
			<div class="cabin-name"></div>
			<div class="tickets"></div>
			<div class="cabin-cost"><span class="summ"></span> руб.</div>
			<input type="hidden" id="ih-cabin">
			<input type="hidden" id="ih-tickets">
			<input type="hidden" id="ih-cost">
			<input type="text" name="name" placeholder="Ваше имя"><br />
			<input type="text" name="email" placeholder="E-mail"><br />
			<input type="text" name="phone" placeholder="Ваш телефон"><br />
			<button class="btn btn-blue">ОТПРАВИТЬ ЗАКАЗ</button>
		</form>
	</div>
</div>


{% endblock %}

{% block javascriptsonload %}


var rns={
	{% for id,rn in rns %}
		{{id}}:{
			{% for description in rn %}
			desc:'{{description | nl2br  | raw  | nl2js | raw}}',
			{% endfor %}
			
			 offers:[{% for price_id,description in rn %}{{price_id}},{% endfor %}],
			
			
		},
	{% endfor %}
};


var offers={
	{% for deck in decksJS %}
		{% for priceJS in deck %}
{{priceJS.id}}:{
	name:'{{priceJS.name }}',
	rns:[{% for room in priceJS.rooms %}{{room.number}},{% endfor %}]
	},
		{% endfor %}
	{% endfor %}
}



window.selectOffer = function (offer_id, rn_id){
    $('.select-offer').remove();
    var offerDIV=$('div[data-offer='+offer_id+']');
    // надо перемотать к нему + развернуть + выделить чекбокс
    $('html, body').animate({
        scrollTop: offerDIV.offset().top
    }, 500);

    offerDIV.find('.expand-lnk').trigger('click');

    offerDIV.find('input[data-rn='+rn_id+']').prop('checked',true).trigger('change');
    offerDIV.find('span[data-rni='+rn_id+']').addClass('checked');
};

    $('.places-number').click(function(){
	if($(this).hasClass('disabled')) return false;
       var rn_id=$(this).html();
       var offer=$(this).parents( ".cabin-row" );
       if ($(this).hasClass('checked')){
           offer.find('input[data-rn='+rn_id+']').prop('checked',false);
           offer.find('span[data-rni='+rn_id+']').removeClass('checked');
           $(svgDocument).find('#rn-'+rn_id).css('stroke','none');
       }else{
           offer.find('input[data-rn='+rn_id+']').prop('checked',true).trigger('change');
           offer.find('span[data-rni='+rn_id+']').addClass('checked');
           $(svgDocument).find('#rn-'+rn_id).css('stroke','#f00');
       }
    });
	
    $('input[data-rn]').change(function(e){
        //console.log($(this).prop("checked"));
		var offer=$(this).parents( ".cabin-row" );
        if ($(this).prop("checked"))
		{
            $(svgDocument).find('#rn-'+$(this).data('rn')).css('stroke','#f00');
			offer.find('.places-number[data-rni='+$(this).data('rn')+']').addClass('checked');
			$('input[data-rn='+$(this).data('rn')+']').not(this).prop('checked',false)
			.parents( ".cabin-row" ).find('.places-number[data-rni='+$(this).data('rn')+']').removeClass('checked');
			
		}
        else
		{
            $(svgDocument).find('#rn-'+$(this).data('rn')).css('stroke','none');
			offer.find('.places-number[data-rni='+$(this).data('rn')+']').removeClass('checked');			
		}

    });	
	

	var svgObject = document.getElementById("svg");
	if (svgObject.contentDocument) {
		var svgDocument = svgObject.contentDocument;
	} else {
		try {
			var svgDocument = svgObject.getSVGDocument();
		} catch(e) {alert(e);}
	}
	
	//console.log($(svgDocument).find('[id^=rn]'));
	
	

	
    $(svgDocument).find('[id^=rn]').css({cursor:'pointer',display:'none'}).

    hover(
        function(){
            $(this).css({fill: "#f00"});
            $('body').append('<div class="room-desc" style="background:#fff; padding:15px; border:3px solid #ccc; border-radius:5px; position:absolute; max-width:500px; left:'+($(this).offset().left + $('#svg').offset().left +20)+'px; top:'+($(this).offset().top + $('#svg').offset().top+20)+'px">'+$(this).attr('desc')+'</div>');
        },
        function(){
            $(this).css({fill: "#000"});
            $('.room-desc').remove();
        }).

	
    click(function(){
        //console.log($(this).attr('id').substr(3));
		
		if(!$(this).hasClass('disabled')) 
		{
			var id=$(this).attr('id').substr(3);
			$('.select-offer').remove();
			if ($(this).css('stroke') == 'none')
			{
				//$(this).css('stroke','#f00');
				/*
				Добавление выбора предложения из списка
				*/
				str='';
				for(i in rns[id].offers){
					//current_offers.push(offers[rns[id].offers[i]]);
					var offer=offers[rns[id].offers[i]];
					str+='<li  onclick="selectOffer('+rns[id].offers[i]+','+ id +')">'+offer.name+'</li>';
				}
				$('body').append('<div data-id="'+id+'" class="select-offer" style="left:'+($(this).offset().left + $('#svg').offset().left +20)+'px; top:'+($(this).offset().top + $('#svg').offset().top-40)+'px"><div class="select-header">Выберите вариант размещения</div><ul>'+str+'</ul><i class="icon icon-cancel close-select-offer"></i></div>');

			}
			else
			{

				$(this).css('stroke','none');
				$('input[data-rn='+id+']').prop('checked',false)
				.parents( ".cabin-row" ).find('.places-number[data-rni='+id+']').removeClass('checked');
			}			
		}
		else
		{
			$('body').append('<div class="select-offer" style="left:'+($(this).offset().left + $('#svg').offset().left +20)+'px; top:'+($(this).offset().top + $('#svg').offset().top-40)+'px"><div class="select-header">Каюту можно удалить из корзины</div><i class="icon icon-cancel close-select-offer"></i></div>');
		}




    })
    ;	
	
	/// удаляем всплывающее окно select-offer при нажатии не на него 
	
	$('body').on('click','.close-select-offer',function(){		
		id = $('.select-offer').attr('data-id');
		$('.select-offer').remove();
		//console.log(id);
		$(svgDocument).find('#rn-'+id).css('stroke','none');
		
	})	
	
	{% for deck in decks %}
		{% for price in deck %}
			
			{% if  price.roomType.motorshipRooms[0] is defined %}
				{% set descriptionBlock =  price.roomType.motorshipRooms[0] %}
			{% endif %}
			
			{% for room in price.rooms if room.statuses == 0 %}
				if($(svgDocument).find("#rn-{{room.number}}") !== null)
				{
					descr  = "{{ descriptionBlock.comment | nl2br  | raw  | nl2js | raw}}" ;
					$(svgDocument).find('#rn-{{room.number}}').css("display", "block")      .attr('desc',descr);  
				}
				else 
				{	
					console.log('{{room.number}}')
				}		
			{% endfor %}
		{% endfor %}
	{% endfor %}
	
	
	{% for orderRoomPrice in ordering %}
	
	//клик по ним (input)
		$('.cabin-row[data-offer='+{{orderRoomPrice.offer}}+']').find('input[data-rn='+{{orderRoomPrice.room}}+']').trigger('click');
		
	// и блокируем все	
		$('.places-number[data-rni='+{{orderRoomPrice.room}}+']').addClass('disabled');
		$('input[data-rn='+{{orderRoomPrice.room}}+']').attr({'disabled':'disabled'});
		
		// ещё надо на svg заблокировать 
		if($(svgDocument).find("#rn-{{orderRoomPrice.room}}") !== null)
		{
			
			$(svgDocument).find('#rn-{{orderRoomPrice.room}}').addClass('disabled');  
		}
		else 
		{	
			//console.log('{{orderRoomPrice.room}}')
		}		
		
		
	{% endfor %}





{% endblock %}	


{% block body %}


<section class="content">
<div class="container">	

{#{dump(dump)}#}

<object id="svg" type="image/svg+xml" data="{{'/images/fleet/'~cruise.motorship.code~'/'~cruise.motorship.code~'-decks.svg'}}" style="width: 100%;" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">Your browser does not support SVGs</object>





<form action="{{path('cruise_add_basket')}}" method="post" >

<!--<input type="hidden" name="cruise_id" value="{{cruise.id}}">	-->			

	{% for nameDeck,prices in decksJS %}
	<h2>{{nameDeck}} палуба</h2>

		{% for price in prices %}

		<div class="block cabin-row" data-offer={{price.id}}>
			<div class="cabin-table">
				<div class="cabin-photo">
				{% if(null != price.images ) %}	
					
				<div class="photo-prev" style="background-image: url('{{(upload_path~price.images.file[0].filename) | imagine_filter('show')}}');"></div>
				
				<div class="owl-carousel">
					{% for image in price.images.file %}
					<div class="slide" style="background-image: url('{{(upload_path~image.filename) | imagine_filter('show')}}');"></div>
					{% endfor %}
				
				</div>
				{% endif %}	
				</div><!--.cabin-photo-->
				
				<div class="descr-block">
					<div class="cabin-header"> {{price.name}} </div>
					<div class="cabin-places">
						Свободно: 
				{% for room in price.rooms %}
					<span class="places-number" data-rni="{{room.number}}"  >{{room.number}}</span> 
				{% endfor %}
					</div>
					<div class="cabin-descr">
						<div>{{price.description | nl2br}}</div>
						<hr>
						<div class="cabin-form">
							<div class="price-variants">
					
			{% for room in price.rooms %}
					<label for="">{{room.number}}</label><input type="checkbox" name="{{cruise.id}}-{{room.id}}"  data-rn={{room.number}} value="{{price.id}}">
			{% endfor %}
															
							</div>
							<div class="price-but">
								<input class="btn btn-blue order-button" type="submit" value="ЗАКАЗАТЬ">
							</div>
						</div>						
					</div>
				</div>

			{% for tariff in price.tariff %}

				<div class="cabin-price">
					<div class="price">{{tariff.price | number_format(0, ' ', ' ') }} <span>руб.</span></div>
					<div>{{tariff.name}}</div>
				</div>

			{% endfor %}
				
				<div class="expand-lnk"></div>
				<div class="close-lnk hidden"><i class="icon icon-cancel"></i>свернуть</div>
				<div style="clear: both;"></div>
			</div>
		</div>			
			
		{% endfor %}
		
	{% endfor %}	
</form>
		<div class="block itinerary">
			<h2>РАСПИСАНИЕ КРУИЗА</h2>
			
			{% if cruise.programm | length == 0 %}
			
			
				<h2 style="color:green;">РАСПИСАНИЕ УТОЧНЯЕТСЯ</h2>
			
			{% endif %}


			{% for day in cruise.programm %}
			<div class="itinerary-row">
				<div class="it-date">{{day.timeStart | localizeddate('full', 'none', null, null, 'dd') }}<span>{{day.timeStart | localizeddate('full', 'none', null, null, 'eee') }}<br>{{day.timeStart | localizeddate('full', 'none', null, null, 'MMM') }}</span></div>
				<div class="it-city">
					<div class="city-name"><a href="#">{{day.port.name}}</a></div>
					<div class="city-arrival">
					
						{% if (((day.timeStart | localizeddate('full', 'none', null, null, 'HH:mm')) == '00:00') and ((day.timeStop | localizeddate('full', 'none', null, null, 'HH:mm')) == '00:00')) %}
						
						{% elseif (day.timeStart | localizeddate('full', 'none', null, null, 'HH:mm')) == '00:00'  %} 
							Отправление <span class="ar-time">{{day.timeStop | localizeddate('full', 'none', null, null, 'HH:mm') }}</span> 
						{% elseif (day.timeStop | localizeddate('full', 'none', null, null, 'HH:mm')) == '00:00' %} Прибытие <span class="ar-time">{{day.timeStart | localizeddate('full', 'none', null, null, 'HH:mm')}}</span> 
						{% else %}  
							<span class="ar-time">{{day.timeStart | localizeddate('full', 'none', null, null, 'HH:mm') }}</span> —
							<span class="ar-time">{{day.timeStop | localizeddate('full', 'none', null, null, 'HH:mm') }}</span>
						{% endif %} 
						
					</div>
				</div>
				<div class="it-descr">{{day.finalDescription | raw | nl2br}}</div>
			</div>
			{% endfor %}
		</div>	
<div class="row">
			<div class="col-md-6">
				<div class="block bg-sand">
					<h2>Дополнительные тарифы на круиз</h2>
					<ul>
						{% for tariff in cruise.tariffsHidden %}
						<li>{{tariff.name}}</li>
						{% endfor %}
					</ul>
				</div>
				
				{% if cruise.comment != "" %}
				
				<div class="block bord-red">
					{{cruise.comment | nl2p | raw}}
				</div>
				{% endif %}
				
			</div>
			<div class="col-md-6">
				<div class="block">
					<h2>Круиз класса «Комфорт»</h2>
					<ul>
						<li>теплоход-пансионат (к услугам массаж, лечебная физкультура, фиточай, кислородный коктейль);</li>
						<li>питание в две смены (при полной посадке);</li>
						<li>завтрак — буфет («шведский стол») свободная рассадка;</li>
						<li>обед и ужин — заказная система со второго дня круиза;</li>
						<li>приветственный коктейль с запуском воздушных шаров;</li>
						<li>в каюте — бутилированная питьевая вода в день посадки;</li>
						<li>холодильники и телевизоры только в каютах класса «Люкс»;</li>
						<li>заключительный капитанский ужин;</li>
						<li>детский клуб.</li>
					</ul>
				</div>
				<div class="block">
					<h2>Скидки на этот круиз (на сегодняшний день)</h2>
					<ul>
					{% for discount in cruise.discount %}
						<li>{{discount.name}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		
	{{dump(decksJS)}} 


	
</div>
</section>

<style>
.select-offer {
	background:#fff;
	padding:15px;
	border:3px solid #ccc;
	border-radius:5px;
	position:absolute;
	max-width:500px;
}
.select-offer .select-header {
	font-size: 15px;
	font-weight: 600;
	color: #4688f1;
	margin-bottom: 10px;
}
.select-offer ul li {
	cursor: pointer;
}
.select-offer ul li:hover {
	color: #4688f1;
}

.cabin-row .cabin-places span.places-number.checked{
	background: #4688f1;
}

.cabin-row .cabin-places span.places-number {
	cursor:pointer;
}
.cabin-row .cabin-places span.places-number.disabled {
	cursor: not-allowed;
}

.close-select-offer {
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}

</style>

{% endblock %}