{% extends 'base.html.twig' %}


{% block body %}
{{dump()}}

<div class="container">	
{{ form_start(form) }}
		<div class="row">
			<div class="col-xs-12">
				<div class="cruise-search block" >
				<h2>ПОИСК КРУИЗА</h2>
					<div class="row">
						<div class="col-md-6">
							<label>Направления</label>
							<div class="input-box">
								{{ form_widget(form.direction, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label>Порт отправления</label>
							<div class="input-box">
								{{ form_widget(form.citys, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label class="month">Месяц</label>
							<div class="input-box month">
								{{ form_widget(form.months, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label class="days">Дней</label>
							<div class="input-box days">
									{{ form_widget(form.days, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label>Класс</label>
							<div class="input-box">
								{{ form_widget(form.class, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label>Теплоход</label>
							<div class="input-box">
								{{ form_widget(form.motorship, {'attr':{'class':'chosen-select'}} ) }}
							</div>
						</div>
						<div class="col-md-6">
							<label>Категория</label>
							<div class="input-box">
								{{ form_widget(form.category, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label>Тариф</label>
							<div class="input-box">
								{{ form_widget(form.tariff, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label>Посетить</label>
							<div class="input-box">
								{{ form_widget(form.ports, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<div class="row buttons">
								<div class="col-xs-6">
									<a href="{{path('cruises')}}" class="btn btn-contred full-width">ВСЕ КРУИЗЫ</a>
								</div>
								<div class="col-xs-6">
									{{ form_widget(form.submit,{'label': 'ПОИСК'}) }}
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="block search-arrange">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<label>Сортировка</label>
							<div class="input-box">
								{{ form_widget(form.sortable, {'attr':{'class':'chosen-select'}} ) }}
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="found-number">Найдено круизов: <span>{{cruises.getTotalItemCount}}</span></div>
						</div>
						<div class="col-md-3 col-xs-6">
						
						{{ knp_pagination_render(cruises) }}
						
						</div>
					</div>
				</div>
			</div>
		</div>
	{{ form_end(form) }}
	
	
	{#{dump(cruises)}#}

	{% include 'CruiseBundle:Cruise:cruise_table.html.twig'  with {'cruises':cruises} %}

</div>

{#
<table>
	<tr>
		<td>Дата</td>
		<td>Дней</td>
		<td>Теплоход</td>
		<td>Маршрут</td>
		<td>Цены от</td>
		<td>Свободно</td>
	</tr>
	{% for cruise in cruises %}
	<tr>
		<td>{{cruise.dateStart | localizeddate('full', 'none', null, null, 'dd MMM (eee)') }} — 
		{{cruise.dateStop | localizeddate('full', 'none', null, null, 'dd MMM (eee) Y')}} </td>
		<td>{{cruise.days}}</td>
		<td>{{ cruise.motorship.name }}</td>
		<td><a href="{{ path('cruise_detail',{'id':cruise.id}) }}">{{ cruise.name }}</a></td>
		<td></td>
		<td>{{cruise.freeCountRoom}}</td>
	</tr>
	{% endfor %}
</table>	
#}	


{% endblock %}