{% extends 'base.html.twig' %}


{% block body %}


<div class="container">	
{{ form_start(form) }}
		<div class="row">
			<div class="col-xs-12">
				<div class="cruise-search block" >
				<h2>ПОИСК КРУИЗА</h2>
					<div class="row">
						<div class="col-md-6">
							<label>Направления</label>
							<div class="input-box">
								<select class="chosen-select">
									<option value="" selected>Все направления</option>
									<option value="">Круизы по Волге</option>
									<option value="">Круизы по Каме</option>
									<option value="">Круизы по Дону</option>
									<option value="">Круизы в Москву</option>
								</select>
							</div>
							<label>Порт</label>
							<div class="input-box">
								<select class="chosen-select">
									<option value="" selected>Любой порт</option>
									<option value="">Москва</option>
									<option value="">Нижний Новгород</option>
									<option value="">Санк-Петербург</option>
									<option value="">Астрахань</option>
								</select>
							</div>
							<label class="month">Месяц</label>
							<div class="input-box month">
								<select class="chosen-select">
										<option value="" selected>Любой месяц</option>
										<option value="">Апрель</option>
										<option value="">Май</option>
										<option value="">Июнь</option>
										<option value="">Июль</option>
										<option value="">Август</option>
										<option value="">Сентябрь</option>
										<option value="">Октябрь</option>
										<option value="">Ноябрь</option>
								</select>
							</div>
							<label class="days">Дней</label>
							<div class="input-box days">
									{{ form_widget(form.days, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label>Класс</label>
							<div class="input-box">
								{{ form_widget(form.class, {'attr':{'class':'chosen-select'}} ) }}
							</div>
							<label>Теплоход</label>
							<div class="input-box">
								{{ form_widget(form.motorship, {'attr':{'class':'chosen-select'}} ) }}
							</div>
						</div>
						<div class="col-md-6">
							<label>Категория</label>
							<div class="input-box">
								<select class="chosen-select">
									<option value="" selected>Любая категория</option>
									<option value="">Тематический круиз</option>
									<option value="">Бесплатное место для сопровождающего школьных гр.</option>
									<option value="">Детское место в подарок</option>
									<option value="">Дополнительные бонусные баллы</option>
									<option value="">Круиз по выигранному сертификату</option>
								</select>
							</div>
							<label>Тариф</label>
							<div class="input-box">
								<select class="chosen-select">
									<option value="" selected>Любой тариф</option>
									<option value="">Пенсионный</option>
									<option value="">Студенческий</option>
									<option value="">Школьный</option>
								</select>
							</div>
							<label>Посетить</label>
							<div class="input-box">
								<select class="chosen-select" multiple>
									<option value="">Москва</option>
									<option value="">Санкт-Петербург</option>
									<option value="">Астрахань</option>
									<option value="">Волгоград</option>
									<option value="">Саратов</option>
								</select>
							</div>
							<div class="row buttons">
								<div class="col-xs-6">
									<a href="{{path('cruises')}}" class="btn btn-contred full-width">ВСЕ КРУИЗЫ</a>
								</div>
								<div class="col-xs-6">
									{{ form_widget(form.submit,{'label': 'ПОИСК'}) }}
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="block search-arrange">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<label>Сортировка</label>
							<div class="input-box">
								{{ form_widget(form.sortable, {'attr':{'class':'chosen-select'}} ) }}
							</div>
						</div>
						<div class="col-md-3 col-xs-6">
							<div class="found-number">Найдено круизов: <span>{{cruises.getTotalItemCount}}</span></div>
						</div>
						<div class="col-md-3 col-xs-6">
						
						{{ knp_pagination_render(cruises) }}
						
						</div>
					</div>
				</div>
			</div>
		</div>
	{{ form_end(form) }}

	{% include 'CruiseBundle:Cruise:cruise_table.html.twig'  with {'cruises':cruises} %}

</div>

{#
<table>
	<tr>
		<td>Дата</td>
		<td>Дней</td>
		<td>Теплоход</td>
		<td>Маршрут</td>
		<td>Цены от</td>
		<td>Свободно</td>
	</tr>
	{% for cruise in cruises %}
	<tr>
		<td>{{cruise.dateStart | localizeddate('full', 'none', null, null, 'dd MMM (eee)') }} — 
		{{cruise.dateStop | localizeddate('full', 'none', null, null, 'dd MMM (eee) Y')}} </td>
		<td>{{cruise.days}}</td>
		<td>{{ cruise.motorship.name }}</td>
		<td><a href="{{ path('cruise_detail',{'id':cruise.id}) }}">{{ cruise.name }}</a></td>
		<td></td>
		<td>{{cruise.freeCountRoom}}</td>
	</tr>
	{% endfor %}
</table>	
#}	


{% endblock %}