				<div class="block main-cruises">
					<h2>Ближайшие</h2>
					
					{#{dump(cruises)}#}
					
					
					
					
					{% for cruise in cruises %}
					
					<div class="row cruise-li">
						<div class="col-xs-12">
							<div class="cruise-days-cont">
								<div class="cruise-days">{{cruise.days}} {{cruise.days | numeral('день','дня','дней') }}</div>
							</div>
							<div class="cruise-header">{{cruise.name}}</div>
						</div>
						<div class="col-xs-12 cruise-table">
							<div class="cruise-date">{{cruise.dateStart | localizeddate('full', 'none', null, null, 'dd') }}<span>{{cruise.dateStart | localizeddate('full', 'none', null, null, 'eee') }}<br />{{cruise.dateStart | localizeddate('full', 'none', null, null, 'MMM') }}</span> – {{cruise.dateStop | localizeddate('full', 'none', null, null, 'dd') }}<span>{{cruise.dateStop | localizeddate('full', 'none', null, null, 'eee') }}<br />{{cruise.dateStop | localizeddate('full', 'none', null, null, 'MMM') }}</span></div>
							<div class="descr-block">
								<div class="row">
									<div class="col-xs-6 hidden-md cities">
										{% for port in cruise.portsPlus %}
											{% if loop.first %} + {% endif %}{{port | ports}}{% if not loop.last %}, {% endif %}
										{% endfor %}
									</div>
									<div class="col-lg-6 col-md-12 col-sm-6 col-xs-6 price">33 100 <span>руб.</span></div>
								</div>
							</div>
						</div>
					</div>
					
					{% endfor %}
					
					

					<div class="button-holder">
						<a class="btn btn-contred" href="{{path('cruises')}}">ЕЩЁ</a>
					</div>
				</div>