{% extends 'base.html.twig' %}


{% block body %}



<div class="container">

{#{dump()}#}


		<div class="contract-item">
			<div class="row">
				<div class="col-sm-4">
					<div class="blue"><a href="{{path('fleet_ship',{'shipcode':order.cruise.motorship.code})}}">{{order.cruise.motorship.name}}</a></div>
					
				</div>
				<div class="col-sm-8 center-block">
					<div class="blue"><a href="{{path('cruise_detail',{'id':order.cruise.id})}}">{{order.cruise.name}}</a></div>
					{{order.cruise.dateStart | localizeddate('full', 'none', null, null, 'dd MMMM (eee)') }} -
					{{order.cruise.dateStop | localizeddate('full', 'none', null, null, 'dd MMMM (eee) Y') }} 
				</div>
			</div>
		</div>

{{formOrderView | raw}}





</div>



<div id="modal_add_tourist" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Добавить нового туриста</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block javascriptsonload %}



	$('body').on('click','.add_tourist', function(e){

		
		
		$.ajax({
			url: '{{path('order_add_tourist')}}',
		})
		.done(function(html){
			$('#modal_add_tourist .modal-body').html(html);
		})
		.fail(function(){
			//console.log('fail')
			//console.log(this)
		})
		
		
		//console.log(jqxhr);

		$("#modal_add_tourist").modal('show');
	})

	
    $('body').on('submit', '.ajaxForm', function (e) {
 

        e.preventDefault();
 
       $.ajax({
            type: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize()
        })
        .done(function (data,textStatus, jqXHR) {
            
			if(jqXHR.status == 201)
			{
				$('.modal-body').html();
				$("#modal_add_tourist").modal('hide');
				
			// тут обновляем основную форму
				
			$.ajax({
					url: "{{path('cruise_order_hash',{'code':order.hashCode})}}",
				})
				.done(function(html){
					$('form[name="cruisebundle_ordering"]').html(html);
				})
				.fail(function(html){
					
				})		
			}
			else
			{
				$('.modal-body').html(data);
			}
			

			

			
			
			
			
        })
        .fail(function (jqXHR, textStatus, errorThrown) {
		

            if (typeof jqXHR.responseJSON !== 'undefined') {
                if (jqXHR.responseJSON.hasOwnProperty('form')) {
                    $('#form_body').html(jqXHR.responseJSON.form);
                }
 
                $('.form_error').html(jqXHR.responseJSON.message);
 
            } else {
                alert(errorThrown);
            }

        });
    });	
	
	
	
$('input.check_discount').change(function(){
	exclusions = $(this).attr('exclusions');
	exclusions_array = exclusions.split(',');
	for(var exclusion in exclusions_array)
	{			
		$('input.check_discount#discount_' + exclusions_array[exclusion]).attr('checked',false);
	}
});

{% endblock %}