{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Редактирование страницы</h1>

{% if dump is defined %}
		{{dump(dump)}}
{% endif %}	
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
		<div id="dropZone" class="clearfix">
			<div id="text">Для загрузки, перетащите файлы сюда.</div>
			{% include 'image/upload.html.twig' with {'images':page.file} %}
		</div>
        <input class="btn btn-primary" type="submit" value="Сохранить изменения " />
    {{ form_end(edit_form) }}

	<br>
    
	<a class="btn btn-success" href="{{ path('page_index') }}">Вернуться к списку страниц</a>
	<br>
	<br>

{% endblock %}
{% block javascripts %}
	<script src="{{ asset('admin/js/imageUpload.js') }}"></script>
{% endblock %}
