{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Редактирование страницы</h1>

{% if dump is defined %}
		{#{dump(dump)}#}
{% endif %}	
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
		<div id="dropZone" class="clearfix">
			<div id="text">Для загрузки, перетащите файлы сюда.</div>
			<div class="sortable">{% include 'image/upload.html.twig' with {'images':page.file} %}</div>
		</div>
        <input class="btn btn-primary" type="submit" value="Сохранить изменения и перейти на страницу" />
    {{ form_end(edit_form) }}

	<br>
    
	<a class="btn btn-success" href="{{ path('page_index') }}">Вернуться к списку страниц</a>
	<br>
	<br>

{% endblock %}
{% block javascripts %}

<script src="{{ asset('admin/js/imageUpload.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
	$(document).ready(function() {
		$('.sortable').sortable().bind('sortupdate', function(e, ui) {
			$('.sortable input.sort').each(function(i){
				$(this).val(i);
			});
		});
		
	});
</script>	

{% endblock %}