{% extends 'baseadmin.html.twig' %}

{% block body %}

{% import _self as tree %}
{% macro pages(pages,  rootPages) %}
    <ul{% if rootPages %} {% endif %} class="nav-list">
        {% for page in pages if (not page.parent or not rootPages)%}
            <li>

                  <span  class="name"> {{ page.name }} Адрес:  /{{ page.fullUrl }} </span>
				   <a class="btn btn-success" href="{{ path('page_edit', { 'id': page.id }) }}">Редатировать</a> 
				   <a class="btn btn-success" href="{{ path('page_new', { 'parent': page.id }) }}">Создать ребёнка</a> 
				   <a class="btn btn-success" href="{{ path('page_delete', { 'id': page.id }) }}">Удалить</a> 
				   <a class="btn btn-success" href="{{ path('page', { 'url': page.fullUrl }) }}" target="_blank">Перейти на страницу</a> 

                {% if page.children|length %}
                    {{ _self.pages(page.children,  false) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}


        <div class="page-tree">
            {{ tree.pages(pages, true) }}
        </div>




            <a class="btn btn-primary" href="{{ path('page_new') }}">Создать новую страницу</a>

{% endblock %}

{% block stylesheets %}

<style>

</style>

{% endblock %}

{% block javascripts %}


{% endblock %}