{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Page creation</h1>
{% if dump is defined %}

{% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
		<div id="dropZone" class="clearfix">
			<div id="text">Для загрузки, перетащите файлы сюда.</div>
			
		</div>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('page_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('admin/js/imageUpload.js') }}"></script>
{% endblock %}


