{% extends 'base.html.twig' %}

{% block title %}{{page.title}}{% endblock %}

{% block body %}



<div class="container">	

{{dump()}}
	
<div class="block ship-descr">
	<h2>Описание</h2>
	<div class="row">
		<div class="col-md-6">
			
			{% for description in ship.description %}
				<p>{{description}}</p>
			{% endfor %}	
			
			{% if ship.motorshipClass is not null %}
			<div class="center">
				<h3>Класс</h3>
				<div class="ship-cat {{ship.motorshipClass.code}}">{{ship.motorshipClass.name}}</div>
			</div>
			{% endif %}
			
		</div>
		<div class="col-md-6">
			<h3>К вашим услугам:</h3>
			<ul>
		
		{% for motorshipRoom in ship.motorshipRooms %}
			
			<li>{{motorshipRoom.name}}</li>
		
		{% endfor %}
			</ul>
			<p>{{ship.roomsDescription}}</p>
		</div>
	</div>
</div>	


<div class="row">
	<div class="col-md-6">
		<div class="block">
			<h2>На борту теплохода</h2>
			<ul>
				{% for hall in ship.hall %}
				<li>{{hall.name}}</li>
				{% endfor %}
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div class="block bg-sand">
			<h2>Особенности теплохода</h2>
			<ul>
			{% for prop in ship.properties %}
				<li>{{prop}}</li>
			{% endfor %}	
			</ul>
		</div>
	</div>
</div>

<div class="block decks-view">
	<h2>СХЕМА ПАЛУБ ТЕПЛОХОДА</h2>
	<img src="/images/{{page.fullUrl}}/decks.png" alt="Схема палуб">
</div>
		
		
{% if page.file |length > 0 %}
<div class="images clearfix">
{% for image in page.file %}
	
	<div class="col-md-3 col-sm-4">
		<div class="block photo-gal" style="background-image: url('{{ (upload_path~image.filename) | imagine_filter('my_thumb_photo_gal') }}')">
			<a href="{{ (upload_path~image.filename) | imagine_filter('show') }}" data-lightbox="ship-galery" data-title="{{ image.title }}"></a>
		</div>
	</div>
	{#
	<div class="col-sm-3 admin-thumb" id="image-{{image.id}}">
		<a class="photo" title="{{ image.title }}" href="{{ (upload_path~image.filename) | imagine_filter('show') }}" rel="group" >
			<img class="img-responsive" alt="{{ image.title }}" title="{{ image.title }}" src="{{ (upload_path~image.filename) | imagine_filter('my_thumb') }}" />
		</a>
	</div>
	#}
{% endfor %}
</div>
{% endif %}		
		

</div>


{% endblock %}

{% block admin %}
{% if is_granted("ROLE_ADMIN") %}
<div class="navbar navbar-inverse ">
	<div class="navbar-inner">
        <div class="container">
			<div class="navbar-form pull-right">
              <button class="btn btn-contwht" edit="false" id="edit-inline">Быстрая правка</button>
              <a  href="{{ path('page_edit',{id:page.id}) }}" class="btn btn-contwht"  >Редактировать в админке</a>
              <a  href="{{ path('page_index') }}" class="btn btn-contwht"  >Админка</a>
            </div>
        </div>
    </div>	
</div>

<div id="answer" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2>Страница изменена</h2>
			</div>	
			<div class="modal-body">
				<p></p>
			</div>
		</div>
	</div>
</div>

{% endif %}
{% endblock %}