<h1 class="top-80">{{ship.name}}</h1>
<div class="ship top-220">
	<a class="photo" href="{{ ('/images/fleet/'~ship.code~'/captain.jpg') | imagine_filter('banner') }}">
		<div class="ship-icon" style="background-image: url('{{ ('/images/fleet/'~ship.code~'/captain.jpg') | imagine_filter('captain') }}');"></div>
	</a><br>
	<div>Капитан</div><br>
	<div class="ship-name">Кистэнь Виталий Венедиктович</div>
</div>

{% if ship.motorshipClass is not null %}
<div class="ship-cat {{ship.motorshipClass.code}}">{{ship.motorshipClass.name}}</div>
{% endif %}

